In [41]:
import pandas as pd
from datetime import datetime
import numpy as np

In [37]:
amzn_data = pd.read_csv("AMZN_2022.csv").set_index("DateTime").drop('Unnamed: 0', axis = 1, inplace = False).drop_duplicates()
date_index = [datetime.strptime(i, "%Y-%m-%d %H:%M:%S") for i in list(amzn_data.index)]
amzn_data.index = date_index

In [59]:
sl = 78
win_len = 6
num_trajs = len(unique_dates) * (390/78)
#goal - (1015, 78, win_len*5)

In [39]:
unique_dates = pd.unique([i.date() for i in date_index])

In [44]:
date_locs = np.array([[i.date() == ud for i in date_index] for ud in unique_dates])

In [63]:
amzn_data[date_locs[0]]

                         Open     Close      High       Low  Volume
2021-12-31 14:30:00  168.9560  168.5100  169.0660  168.5000    4687
2021-12-31 14:31:00  168.5250  168.8340  168.9965  168.4000     472
2021-12-31 14:32:00  168.8400  168.8275  168.9385  168.7500     312
2021-12-31 14:33:00  168.9980  169.0630  169.2660  168.9690     607
2021-12-31 14:34:00  168.9420  169.2495  169.3000  168.9420     522
...                       ...       ...       ...       ...     ...
2021-12-31 20:55:00  166.5925  166.6020  166.6620  166.5895    2175
2021-12-31 20:56:00  166.6120  166.8800  166.8925  166.5945    5591
2021-12-31 20:57:00  166.8850  166.7860  166.9300  166.7495    1764
2021-12-31 20:58:00  166.7325  166.8615  166.9035  166.7325    3897
2021-12-31 20:59:00  166.8350  166.7360  166.8685  166.7090    5604

[390 rows x 5 columns]

In [83]:
def split_trajs(npdata):
    inputs_window = np.array([npdata[i-win_len:i] for i in range(win_len,len(npdata))])    
    if len(npdata) == 390:
        return npdata.reshape(5,78,5)
    else:
        npdata_filt = npdata[:78*4]
        return npdata_filt.reshape(4,78,5)

In [84]:
trajs = np.array([i for j in [split_trajs(amzn_data.loc[date_locs[udidx]].to_numpy()) for udidx in range(len(unique_dates))] for i in j])

In [ ]:
inputs_window = np.array([trajs[i-win_len:i] for i in range(win_len,len(trajs))])

In [85]:
trajs.shape

(1010, 78, 5)

In [87]:
amzn_data.rolling(win_len, win_type=None)

Rolling [window=6,center=False,axis=0,method=single]

In [60]:
# [(ud, len(amzn_data.loc[date_locs[udidx]])) for udidx, ud in enumerate(unique_dates) if len(amzn_data.loc[date_locs[udidx]]) != 390]